body {
    background: darkslategray;
    height: 100vh;
    width: 100vw;
    font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.container {
  width: 100%;
}
.title {
  font-size: 3em;
  padding: 0.5em 2em;
  display: block;
  margin: 0 auto;
  background: yellowgreen;
  text-align: center;
  color: beige;
}
.score {
  color: beige;
  font-size: 2em;
  padding: 0.5em;
  display: block;
  margin: 0 auto;
}
table{
  padding: 0.5em;
  width: 50%;
  display: block;
  margin: 0 auto;
}
td {
  padding: 3em;
  background: darkblue;
}
.blank {
  background: beige;
}

.on {
  background: green;
}
